.secondary-text {
    color: var(--text-secondary);
}

.hero figure {
    height: 650px;
    position: relative;
    width: 100vw;
}

.hero figure img {
    object-position: 10% top;
}

.hero figure article {
    position: absolute;
    top: 50px;
    text-align: center;
    padding: 10px 20px;
}

.hero figure article p {
    color: var(--text-secondary);
    margin-top: 10px;
}


.hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

.hero-item img {
    max-width: 40px;
}

.hero-items {
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}



.service-info {
    max-width: 1500px;
    margin: 30px auto;
    padding: 0 10px;
}


.info-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.service-info-items {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    place-items: start;
}

.service-info-item {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.service-info-item figure {
    max-width: 40px;

}


.info-right-card {
    background-color: var(--primary);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.info-right figure {
    max-width: 400px;
}



.bot-section {
    background-color: var(--secondary);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    min-height: 200px;
}

.bot-section figure {
    max-width: 80px;
}

.bot-section p {
    color: var(--primary-light);
}

.bot-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bot-right {
    width: 70%;
    margin: 0 auto;
}

.bot-right a {
    background-color: var(--primary-light);
    color: var(--secondary);

    &:hover {
        background-color: var(--secondary);
        color: var(--primary-light);
        border: 1px solid var(--primary-light);
    }
}











@media (min-width: 500px) {
    .hero figure article {
        max-width: 500px;
        top: 100px;
    }

    .hero figure article {
        text-align: left;
    }

    .hero-items {
        margin: 20px 0;
    }
}

@media (min-width: 635px) {
    .service-info-items {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        place-items: start;
    }
}

@media (min-width: 768px) {
    
    .service-info-items {
        max-width: 850px;
    }
}

@media (min-width: 800px) {
    .service-info-items {
        max-width: 850px;
    }
}

@media (min-width: 900px) {
    .service-info {
        display: flex;
        gap: 0px;
        width: 100%;
    }

    .info-right-card {
        max-width: 300px;
    }

    .info-left {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .hero figure article {
        max-width: 550px;
    }
    .bot-section {
        flex-direction: row;
        align-items: center;
    }
    .bot-left {
        width: 50%;
        flex-direction: row;
        margin-left: 200px;
    }

    .bot-left div {
        text-align: left;
    }
    .bot-right {
        width: 25%;
        margin-right: 200px;
    }
}

@media (min-width: 1250px) {
    .hero figure article {
        max-width: 600px;
        left: 100px;
        text-align: left;
    }

    h2 {
        font-size: 50px;
    }

    .cards-hero {
        max-width: 1300px;
    }
}


@media (min-width: 1500px) {
    .hero figure img {
        object-position: 50% 30%;
    }

}