.logo {
    max-width: 200px;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 0 15px;
    position: relative;
}

.menu-icon {
    display: block;
}

nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 10000;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
}

nav a {
    display: block;
    padding: 12px 5px;
    color: var(--secondary);
    text-decoration: none;
    padding: 15px 0;
    transition: .5s;
    border-radius: 10px;

    &:hover {
        background-color: var(--primary-light);
        color: var(--secondary);
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

.icon-close {
    display: none;
}

#menu-toggle:checked~.menu-icon .icon-menu {
    display: none;
}

#menu-toggle:checked~.menu-icon .icon-close {
    display: block;
}

#menu-toggle:checked~nav {
    display: flex;
    max-height: 600px;
}






footer {
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-light);
    gap: 30px;
    padding: 20px 0;
    text-align: center;
}
footer h2 {
    color: var(--primary-light);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-title{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-title a {
    color: var(--primary-light);
}































@media (min-width: 1024px) {
    .menu-icon {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        max-height: none;
        overflow: visible;
        background-color: transparent;
    }

    nav a {
        padding: 10px 20px;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    .nav-itens {
        max-width: 900px;
    }

    footer {
        justify-content: space-around;
        height: 200px;
    }
    .footer-title {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 50px;
    }
}